<h1><%= @discussion.title %></h1>

<h3>Campaigns</h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Creator</th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>    
    <tr>
      <td> <%= link_to campaign.title, campaign %> </td>
      <td> <%= link_to campaign.user.username, campaign.user %>
    </tr>
    <% end %>
  </tbody> 

</table>

<h3>Comments</h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Creator</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>    
    <tr>
      <td> <%= link_to comment.title, comment %> </td>
      <td> <%= link_to comment.user.username, comment.user %>
    </tr>
    <% end %>
  </tbody> 

</table>