<h1><%= @user.username %></h1>

<table>
	<thead>
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>Expert?</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td> <%= link_to @user.username, user_path(@user) %> </td>
			<td> <%= @user.email %> </td>
			<td class=<%= @user.expert? %>> <%= @user.expert? %> </td>
		</tr>
	</tbody> 

</table>

<h3>Campaign</h3>
<% if @user.campaigns.first.nil? %>
	<p>This user doesn't have any Campaigns yet</p>
	<section class="campaign_form">
		<%= render 'shared/campaign_form' %>
	</section>
<% else %>
	<%= link_to @user.campaigns.first.title, @user.campaigns.first %>
	<% if current_user?(@user.campaigns.first.user) %>
		<span><%= link_to "delete campaign", @user.campaigns.first, 
							method: :delete,
              data: { confirm: "You sure?" } %>
    </span>
	<% end %>
<% end %>