<h1><%= @user.username %></h1>

<table>
	<thead>
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>Expert?</th>
      <th>Status</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td> <%= link_to @user.username, user_path(@user) %> </td>
			<td> <%= @user.email %> </td>
			<td class=<%= @user.expert? %>> <%= @user.expert? %> </td>
      <td> 
        <% case @user.status 
           when true %>   <%= "qualified" %>
         <% when false %> <%= "not qualified" %>
         <% when nil %>   <%= "banned" %>
        <% end %>
      </td>
		</tr>
	</tbody> 
</table>

<% if @user.expert %>
  <table>
    <thead>
      <tr>
        <th>Profession</th>
        <th>Service</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td> </td>
        <td> </td>
      </tr>
    </tbody> 
  </table>
  <h3>Campaign</h3>
  <% if @user.campaign.nil? %>
    <p>This user doesn't have any Campaigns yet</p>
    <% if current_user.expert %>
      <% if Discussion.all.count > 0 %>
        <h3>Create Campaign</h3>
        <%= render 'shared/campaign_form' %>
      <% else %>
        <p>But we may need at least a Discussion to create a Campaign</p>
      <% end %>
    <% end %>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Discussion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= link_to @user.campaign.title, @user.campaign %> </td>
          <td> <%= link_to @user.campaign.discussion.title, @user.campaign.discussion %> </td>
          <td> 
              <%= link_to "delete campaign", @user.campaign, 
                  method: :delete,
                  data: { confirm: "You sure?" } %> 
          </td>
        </tr>
      </tbody> 
    </table>
  <% end %>
<% else %>
  <h3>Discussion</h3>
  <% if @user.discussion.nil? %>
    <p>This user doesn't have a Discussion yet</p>
    <% if @user == current_user %>
      <h3>Create Discussion</h3>
      <%= render 'shared/discussion_form' %>
    <% end %>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= link_to @user.discussion.title, @user.discussion %> </td>
        </tr>
      </tbody> 
    </table>
  <% end %>
<% end %>