<h1>All Campaigns</h1>


<%= will_paginate %>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Creator</th>
      <th>Comments</th>
		</tr>
	</thead>

	<tbody>
		<% @campaigns.each do |campaign| %>
			<tr>
				<td> <%= link_to campaign.title, campaign_path(campaign) %> </td>
				<td> <%= link_to campaign.user.username, campaign.user %> </td>
        <td> <%= campaign.comments.count %> </td>
			</tr>
		<% end %>
	</tbody>

</table>
<%= will_paginate %>