<h1>Campaign!</h1>

<h3>Comments</h3>
<% if @comments.count < 1 %>
  <p>No Comments yet</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Creator</th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>    
      <tr>
        <td> <%= link_to comment.title, comment %> </td>
        <td> <%= link_to comment.user.username, comment.user %>
      </tr>
      <% end %>
    </tbody> 
  </table>
<% end %>

<h3>Write Comment</h3>
<%= form_for(@comment) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label           :title %>
  <%= f.text_field      :title, class: 'form-control' %>
  <%= f.hidden_field    :user_id, value: current_user.id %>
  <%= f.hidden_field    :campaign_id, value: @campaign.id %>
  <%= f.submit "Comment", class: "btn btn-primary" %>
<% end %>